/* font-face  */
@font-face { font-family: 'NBGothic'; src: url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothicL/NanumBarunGothicWebUltraLight.woff') format('woff'); font-weight: 200; }

@font-face { font-family: 'NBGothic'; src: url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothicL/NanumBarunGothicWebLight.woff') format('woff'); font-weight: 300; }

@font-face { font-family: 'NBGothic'; src: url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothic/NanumBarunGothicWeb.woff') format('woff'); font-weight: 400; }

@font-face { font-family: 'NBGothic'; src: url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumBarunGothic/NanumBarunGothicWebBold.woff') format('woff'); font-weight: bold; }

/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0
}

fieldset,
img,
iframe {
  border: 0 none
}

dl,
ul,
ol,
menu,
li {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none
}

input,
select,
textarea,
button {
  vertical-align: middle
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer
}
body,
th,
td,
input,
select,
textarea,
button {
  font-size: 13px;
  letter-spacing: -0.02em;
  line-height: 1.5;
  font-family:'NBGothic', sans-serif;
  font-weight: 400;
  color: #555
}

a {
  color: #222;
  text-decoration: none
}

a:active,
a:hover {
  color: #222;
  text-decoration: none
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal
}

table {
  position: relative;
  width: 100%
}

img {
  vertical-align: top
}

/* reset */
body {
  height: 100%;
  padding: 30px 15px;
  background: #fff;
  box-sizing: border-box;
}
body::-webkit-scrollbar-track, 
div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f2f2f2;
}
body::-webkit-scrollbar, 
div::-webkit-scrollbar {

  border-radius: 8px;
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb, 
div::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #c2c2c4
}
h1 {font-size:30px;}
h2 {font-size: 18px;}
h3 {font-size: 15px;}


#wrapCont {max-width:800px;min-width:280px;margin:0 auto;font-size: 13px;}

.wrap_profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
  box-sizing: border-box;
  flex-wrap: wrap;
}


.tit_section {margin-top:30px;font-size: 18px;color:#222}
.tit_section::before {display: inline-block;margin:0 5px 0 0;content: '';width: 4px;height: 15px;background-color: #ff6600;vertical-align: middle}
.tit_section .refer {font-size: 11px;color:#333;font-weight: 300;}
.wr_section {margin:20px 0 0 10px;font-size: 13px;}
.wr_section p {font-size: 13px;}

.wrap_profile .wr_name {width:100px;padding:20px 0 20px 10px;}
.wrap_profile .wr_name .name {font-size:30px; color:#222}
.wrap_profile .wr_name .job {font-size: 18px;color:#008c91}
.wrap_profile .wr_info {width:auto;padding:0 10px;}
.wrap_profile .wr_info .info {margin:3px 0}
.wrap_profile .wr_info .info dt {display: inline-block;width:60px;font-size: 15px;font-weight: bold;color:#222}
.wrap_profile .wr_info .info dd {display: inline-block;}


.wrap_cont {padding:0 10px;margin-top:30px;border-top:1px solid #999;}

.wrap_career .info {display: inline-block;width:auto;margin:3px 20px 0 0; vertical-align: top;}
.wrap_career .info dt {display: inline-block;margin-right: 10px;font-size: 15px;font-weight: bold;color:#222;vertical-align: middle}
.wrap_career .info dd {display: inline-block;vertical-align: middle;}
.wrap_career .wr_section {padding-top:15px;border-top: 1px solid #ddd;}
.wrap_career .wr_section.fst {padding-top:0;border-top: none}

.wrap_career .info.project {display: block;}
.wrap_career .info.project dt {vertical-align: top}
.wrap_career .info.project dd {vertical-align: top;margin-top:2px;}
.wrap_career .text_indent {display: flex;align-items: flex-start;column-gap: 4px;margin-bottom:10px}

.wrap_career .info.project dd .text_indent:last-child {margin-bottom:0}
.wrap_career .text_indent strong {white-space: nowrap;}

.wrap_etc .tit {font-size: 15px;font-weight: bold;color:#222}

.wrap_portfolio .list_portfolio li {display: inline-block;margin:5px 3px;}
.wrap_portfolio .list_portfolio li a {display: inline-block;padding:3px 7px; border-radius:2px;background-color: #999;color: #fff;}
.wrap_portfolio .list_portfolio li a:hover {background-color: #008c91}
.wrap_portfolio .list_portfolio li a:visited {background-color: #666}